* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
}

body {
  background: #c7c8cb;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  background:#efeef1;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 0 30px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #3c3c3c;
}

#all {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
  overflow: hidden; /* без прокрутки делает невидимым */
}

.panel {
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#blocks {
  width: 250px;
  overflow-y: auto;
}

#blocks h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.category {
  margin-bottom: 25px;
}

.category h3 {
  font-size: 13px;
  text-transform: uppercase;
  color: #888;
  margin-bottom: 10px;
}

.block {
  background: #f9fafc;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: grab;
  margin-bottom: 8px;
  font-size: 14px;
  border-left: 5px solid transparent;
  transition: 0.3s ease; 
}

.block:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.yellow { border-left-color: #f4c430; }
.green { border-left-color: #4caf50; }
.blue { border-left-color: #4f6df5; }
.purple { border-left-color: #9c27b0; }
.orange { border-left-color: #ff9800; }

#programm {
  flex: 1;
}

#programm h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

#blocks h2,
#programm h2,
#console-panel h2 {
  text-align: center;
}

#workspace {
  background: #f3f4f8;
  padding: 20px;
  border-radius: 14px;
  flex: 1;
  background-image:
    linear-gradient(#e6e8f0 1px, transparent 1px),
    linear-gradient(90deg, #e6e8f0 1px, transparent 1px);
  background-size: 25px 25px;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

#buttons button {
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}


#start {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

#start:hover {
  background: #429945;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(5, 121, 55, 0.4);
}

#stop {
  background:  #f1f3f9;
  color: #444;
  cursor: pointer;
}

#stop:hover {
  background: #dbdde8;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(59, 65, 62, 0.4);
}

#console-panel {
  width: 250px;
}

#console-panel h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

#console {
  flex: 1;
  background: #d7d8df;
  border-radius: 12px;
  padding: 15px;
  color: #333;
}

div[data-type="declare"],
div[data-type="array"] {
  background: rgb(226, 231, 174);
}

div[data-type="assign"] {
  background: rgb(200, 246, 175);
}

div[data-type="if"],
div[data-type="ifelse"]  {
  background: rgb(193, 199, 238);
}

div[data-type="while"] {
  background: rgb(232, 174, 237);
}

div[data-type="compare"],
div[data-type="logic"] {
  background: rgb(232, 202, 154);
}

